services:
  app:
    container_name: forum-app
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NITRO_HOST: "0.0.0.0"
      NITRO_PORT: ${PORT:-3000}
      CHOKIDAR_USEPOLLING: "true"
    command: npm run dev
    networks:
      - forum.test

networks:
  forum.test:
    name: forum.test
    external: true
